@media screen and (max-width:576px){

    .container nav,
    .container .btn{
        display: none;
    } 

    .hidden-logo{
        display: block;
    }

    .header{
        display: flex;
        justify-content: center;
    }

    .container{
        margin: auto;
        max-width: 576px;
        padding: 0px 10px;
        box-sizing: border-box;
    }

    .container hr{
        display: none;
    }

    .circle-container{
        width: 250px;
        height: 250px;
    }

    .circle-container img{
        width: 70px;
        height: 100px;
    }

    .badge{
        top: 5px;
    }

    .about-section{
        width: 100%;
    }

    .about-container{
        padding: 0px;
        max-width: 570px;
        box-sizing: border-box;
    }
    
    .card{
        max-width: 150px;
        margin: auto;
        align-items: center;
    }

    .cards{
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    #youtube-video{
        width: 100%;
        background-size: contain;
    }

    .card-container{
        width: 90%;
        background-size: cover;
    }

    .episode-card{
        width: 70%;
        margin: auto;
        overflow: hidden;
    }

    .boxes{
        grid-template-columns: 1fr;

        grid-template-areas: 
            "box1"
            "box2"
            "box3"
            "box4"
            "box5"
            "box6"
        ;

        gap: 10px;
        max-width: 500px;
    }

    .box1, .box2, .box3, .box4, .box5{
        padding: 24px;
        max-width: 500px;
    }

    .episode-cards{
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .host-card{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 500px;
        padding: 15px;
        text-align: center;
        box-sizing: border-box;
    }

    .host-card ul{
        justify-content: center;
    }

    .linkbar{
        flex-direction: column;
        gap: 10px;
    }

    .techwave-footer{
        max-width: 570px;
    }

    #footer-header{
        font-size: 0.25em;
    }

    .footer-container{
        padding: 20px 0px;
    }
}

@media screen and (min-width:577px) and (max-width:992px){

    .cards{
        grid-template-columns: repeat(2, 1fr);
    }

    .episode-cards{
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .episode-card{
        width: 80%;
        margin: auto;
        overflow: hidden;
    }

    .linkbar{
        flex-direction: column;
        gap: 10px;
    }

    .meet-host-container{
        margin: auto;
    }

    .host-card{
        padding: 30px;
    }
}