/* I have made the whole site with 1600px max viewport width in mind. */


header{
    background-color: #1a0b2e;
    padding-top: 16px;
    padding-bottom: 16px;
    /* max-width: 1600px; */
}

.container{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto; 
}

.logo{
    color: white;
    font-size: 40px;
}

.gradient-text{
    background: linear-gradient(
        to top right,
        #f7e93f 0%,
        #fb09b4 51%,
        #9100f8 100%
    );

    /* I learnt this from chatgpt that gradient doesn't work directly on text, so we have to use it. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 25px;
    align-items: center;
    color: white;
}

.btn{
    background: linear-gradient(
        to top right,
        #f7e93f 0%,
        #fb09b4 51%,
        #9100f8 100%
    );
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 9px 15px;
    border-radius: 20px;
}

.btn:hover{
    cursor: pointer;
}

.techwave-banner-section{
    background-image: url(../assets/hero-bg.png);
    /* max-width: 1600px; */
    /* max-height: 760px; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.techwave-banner-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.techwave-banner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 550px;
    max-height: 558px;
    margin-top: 70px;
}

.banner-button{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.circle-container{
    background-image: url(../assets/hero-circle.png);
    width: 350px;
    height: 350px;
    background-size:contain;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.badge{
    border:none;
    border-radius: 20px;
    background-color: #00ff88;
    color: #1a0b2e;
    padding: 7px 12px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 30px;
}

.about-section{
    background-color: #1a0b2e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 120px;
    max-width: 1600px;
}

.about-container{
    max-width: 1200px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}

.card{
    width: 240px;
    height: 94px;
}

.main-grid-section{
    background-color: #230e3d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    max-width: 1600px;
    padding-bottom: 120px;
}

.box1{
    grid-area: box1;    
}
.box2{
    grid-area: box2;    
}

.box3{
    grid-area: box3;    
}

.box4{
    grid-area: box4;    
}

.box5{
    grid-area: box5;    
}

.boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    max-width: 1200px;
    grid-template-areas: 
        "box1 box2 box2"
        "box1 box3 box3"
        "box4 box4 box5";
}

.box1, .box2, .box3, .box4, .box5{
    background-color: #351165;
    border-radius: 20px;
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.techwave-footer{
    background-image: url(../assets/footer-bg.png);
    /* max-width: 1600px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: center;
    background-position: center;
}

.footer-container{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 412px;
    padding: 50px 0px;
    /* margin-left: 70px; */

    /* The margin is to adjust the position since other methods were not working. */
}

.linkbar{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    margin-top: 10px;
    font-weight: lighter;
}

.linkbar div a{
    color: white;
    text-decoration: none;
}

.meet-host-section{
    background-color: #1a0b2e;
    max-width: 1600px;
}

.meet-host-container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 120px;
}

.host-card{
    display: flex;
    padding: 40px;
    background-color: #351165;
    border-radius: 40px;
    gap: 24px;
    align-items: center;
}

.episode-section{
    background-color: #1a0b2e;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}

.episode-card{
    width: 380px;
    height: 440px;
    border-radius: 40px;
    overflow: hidden;
}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    background-color: #351165;
}

.episode-cards{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.episode-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden-logo{
    display: none;
}